<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">


<!--https://github.com/9253761/mybatis-generator-lombok-plugin-1-->

<generatorConfiguration>
    <!-- <classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip" />
   -->
    <context id="DB2Tables" targetRuntime="MyBatis3">



        <property name="javaFileEncoding" value="UTF-8"/>
<!--        <plugin type="com.softwareloop.mybatis.generator.plugins.LombokPlugin">-->

<!--            &lt;!&ndash; enable annotations &ndash;&gt;-->
<!--            <property name="builder" value="true"/>-->
<!--            &lt;!&ndash; annotation's option(boolean) &ndash;&gt;-->
<!--            <property name="builder.fluent" value="true"/>-->
<!--            &lt;!&ndash; annotation's option(String) &ndash;&gt;-->
<!--            <property name="builder.builderMethodName" value="myBuilder"/>-->

<!--            <property name="accessors" value="true"/>-->
<!--            &lt;!&ndash; annotation's option(array of String) &ndash;&gt;-->
<!--            <property name="accessors.prefix" value="m_, _"/>-->

<!--            &lt;!&ndash; disable annotations &ndash;&gt;-->
<!--            <property name="allArgsConstructor" value="false"/>-->
<!--        </plugin>-->


        <plugin type="com.cy.mybatis.generator.lombok.plugins.LombokPlugin"/>
        <!-- 本地插件，生成数据库注释 -->
        <plugin type="com.cy.mybatis.generator.lombok.plugins.CommentPlugin"/>

        <commentGenerator>
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://zmz121.cn/im"
                        userId="root"
                        password="cloudalibaba">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="true" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.im.user.entity.po" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper"  targetProject="src/main/resources/mybatis">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.im.user.mapper"  targetProject="src/main/java" >
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--    <table schema="DB2ADMIN" tableName="ALLTYPES" domainObjectName="Customer" >
             <property name="useActualColumnNames" value="true"/>
             <generatedKey column="ID" sqlStatement="DB2" identity="true" />
             <columnOverride column="DATE_FIELD" property="startDate" />
             <ignoreColumn column="FRED" />
             <columnOverride column="LONG_VARCHAR_FIELD" jdbcType="VARCHAR" />
           </table> -->


        <!--<table tableName="teacher" enableCountByExample="false" enableDeleteByExample="false"-->
        <!--enableUpdateByExample="false" enableSelectByExample="false" />-->


<!--        <table tableName="user_friend" enableCountByExample="false" enableDeleteByExample="false" domainObjectName="UserFriend"-->
<!--               enableUpdateByExample="false" enableSelectByExample="false" />-->
<!--        <table tableName="user_friend_request" enableCountByExample="false" enableDeleteByExample="false" domainObjectName="UserFriendRequest"-->
<!--               enableUpdateByExample="false" enableSelectByExample="false" />-->
<!--        <table tableName="task" enableCountByExample="false" enableDeleteByExample="false"-->
<!--               enableUpdateByExample="false" enableSelectByExample="false" />-->
<!--        <table tableName="task_user" enableCountByExample="false" enableDeleteByExample="false"-->
<!--               enableUpdateByExample="false" enableSelectByExample="false" />-->
<!--        <table tableName="im_group" enableCountByExample="false" enableDeleteByExample="false" domainObjectName="GroupPo"-->
<!--               enableUpdateByExample="false" enableSelectByExample="false" />-->
<!--        <table tableName="im_group_user" enableCountByExample="false" enableDeleteByExample="false" domainObjectName="GroupMemberPo"-->
<!--               enableUpdateByExample="false" enableSelectByExample="false" />-->
        <table tableName="cas_code" enableCountByExample="false" enableDeleteByExample="false" domainObjectName="CasCode"
               enableUpdateByExample="false" enableSelectByExample="false" />
    </context>
</generatorConfiguration>